**/bin
**/obj
**/.vs
AppTransporte/obj/project.assets.json
AppTransporte/obj
AppTransporte/bin
AppTransporte/AppTransporte.csproj
C:UsersgudalOneDriveDocumentosGitHubAppTPaquitaAppTransporteResourcesRawprojecto-rocketbot-71a45741c162.json
AppTransporte/Resources/Raw/projecto-rocketbot-71a45741c162.json
AppTransporte/Resources/Raw/projecto-rocketbot-71a45741c162.json
